.App {
  font-family: sans-serif;
}

h1 {
  color: #0e1117;
  font-size: 48px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}
.City {
  margin-bottom: 10px;
}
.Date {
  font-size: 16px;
  opacity: 0.5;
}
