.Weather {
  border: 1px solid #202124;
  font-family: sans-serif;
  padding: 20px;
}
.Weather h1 {
  color: #0e1117;
  font-size: 48px;
  font-weight: 200;
  line-height: 28px;
  margin: 20px 0 0 0;
}
.Weather h3 {
  font-weight: lighter;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  text-transform: capitalize;
  color: #0e1117;
  font-size: 16px;
  font-weight: 100;
  padding-top: 5px;
}
li::first-letter {
  text-transform: capitalize;
}
